<div class="col-sm-12">

<h2>Izmjeni kontakt </h2>
<br>
 <label>Unesi Ime: <input type="text" ng-model="contact.firstName"></label><br>
<label>Unesi Prezime: <input type="text" ng-model="contact.lastName"></label><br>
 <label>Unesi datum rodzenja: <input type="text" ng-model="contact.birthday"></label><br>
  <label>Unesi Grad: <input type="text" ng-model="contact.city"></label><br>
   <label>Unesi Telefon: <input type="text" ng-model="contact.phone"></label><br>
    <label>Unesi mail: <input type="text" ng-model="contact.email"></label><br>
     <label>Unesi skype: <input type="text" ng-model="contact.skype"></label><br>
</div>